* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;

  min-height: 100vh;
  place-items: center;
  display: grid;
}

.hide {
  display: none;
}

main {
  display: flex;
  gap: 19rem;
  max-height: 33.6rem;

  align-items: center;

  align-self: end;
}

main section.timer {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  max-width: 32.1rem;
}

.time {
  display: flex;
}

.time span {
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;
  color: #323238;
}

main .controls {
  display: flex;
  gap: 4rem;
}

main .controls button {
  border: none;
  background-color: transparent;
  width: 4.8rem;
  height: 4.8rem;
}

main section.sounds {
  display: grid;

  grid-template-areas: 'A B'
  'C D';
  gap: 3rem;

}

.sounds button {
  display: flex;
  flex-direction: column;
  gap: clamp(1.2rem, 1.2rem + 2vw, 3.2rem);
  justify-content: center;
  align-items: center;
}

.sounds button input {

  appearance: none;
  height: 4px;
  width: clamp(1rem, 1rem + 5vw, 9rem);

  background-color: #323238;
  
}

input[type=range]::-webkit-slider-thumb {
  height: clamp(0.1rem, 0.1rem + 2vw, 1.6rem);
  width: clamp(0.1rem, 0.1rem + 2vw, 1.6rem);
  border-radius: 50%;
  background: #323238;
  cursor: pointer;
  -webkit-appearance: none;
}

.sounds button.active input {

  appearance: none;
  height: 4px;
  width: clamp(1rem, 1rem + 5vw, 9rem);

  background-color: white;
  
}

.sounds button.active input[type=range]::-webkit-slider-thumb {   
  background: white;
}

.sounds button:hover input[type=range]::-webkit-slider-thumb,
.sounds button:hover input {
  background-color: white;
}


.sounds button:nth-child(1){
  grid-area: A;
}

.sounds button:nth-child(2){
  grid-area: B;
}

.sounds button:nth-child(3){
  grid-area: C;
}

.sounds button:nth-child(4){
  grid-area: D;
}

 section.sounds button{
  border: none;
  
  border-radius: clamp(1rem, 0.5rem + 2vw, 2.4rem);

  width: clamp(2rem, 3rem + 8vw, 13.8rem);
  height: clamp(2rem, 3rem + 9vw, 15.2rem);

  transition: hover .2s;
}

.sounds button svg {
  height: clamp(1rem, 1rem + 4vw, 5.6rem);
}

.sounds button:hover,
.sounds button.active{
  background-color: #02799D;
}

.sounds button:hover path,
.sounds button.active path {
  fill: white;
}

.hide {
  display: none;
}

.mode button {
  border: 0;
  background: transparent;

  width: 4.4rem;
  height: 4.4rem;

  position: absolute;
  z-index: 1;
  top: 6rem;
  right: 6rem;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    gap: 8rem;

    height: 100rem;
    
    padding: 3rem;

    margin-top: -10rem;
  }

  main section.sounds {
    grid-template-areas: 'A B C D';
  
  }

  main section.timer {
    gap: 1.5rem;
  }
}


body.dark {
  background-color: black;
}

span.dark {
  color: white;
}

.controls.dark button svg path {
  fill: #C4C4CC;
}

main .sounds button.dark {
  background-color: #29292E;
}    

main .sounds button:hover.dark {
  background-color: #0A3442;
}

main .sounds button.dark svg path{
  fill: #C4C4CC;
}

.sounds button.dark input {

  background-color: #FFFFFF;
}

main .sounds button.dark input[type=range]::-webkit-slider-thumb {
  background: #FFFFFF;
}