* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;

  height: 100vh;
  place-items: center;
  display: grid;
}

main {
  display: flex;
  gap: 19rem;
  max-height: 33.6rem;

  align-items: center;
}

main section.timer {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  max-width: 32.1rem;
}

.time {
  display: flex;
}

.time span {
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;
  color: #323238;
}

main .controls {
  display: flex;
  gap: 4rem;
}

main .controls button {
  border: none;
  background-color: transparent;
  width: 4.8rem;
  height: 4.8rem;
}

main section.sounds {
  display: grid;

  grid-template-areas: 'A B'
  'C D';
  gap: 3rem;

}

.sounds button:nth-child(1){
  grid-area: A;
}

.sounds button:nth-child(2){
  grid-area: B;
}

.sounds button:nth-child(3){
  grid-area: C;
}

.sounds button:nth-child(4){
  grid-area: D;
}

main section.sounds button{
  border: none;
  background: #E1E1E6;
  border-radius: clamp(1rem, 0.5rem + 2vw, 2.4rem);

  width: clamp(3rem, 3rem + 8vw, 13.8rem);
  height: clamp(3rem, 3rem + 9vw, 15.2rem);

  transition: all .2s;
}


.sounds button img {
  height: clamp(1rem, 1rem + 4vw, 5.6rem);
}

main section.sounds button.active{
  background-color: #02799D;
}

.sounds button:hover {
  background-color: #02799D;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    gap: 8rem;

    height: 100rem;

    padding: 3rem;

    margin-top: -10rem;
  }

  main section.sounds {
    grid-template-areas: 'A B C D';
  
  }

  main section.timer {
    gap: 1.5rem;
  }
}
